@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
html, body {
    width: 100%;
    margin: 0;
    background: #E5E5E5;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    overflow-x: hidden;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
* {
    box-sizing: border-box;
}
a, a:hover {
    border: none;
    outline: none;
    text-decoration: none;
    color: black;
}
nav {
    background: #FFFFFF;
    width: 100%;
    margin: 0;
    padding: 6px 15px;
    font-weight: 400;
}
.layer-one {
    width: 100%;
    margin: 0;
    padding: 2px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.logo {
    font-size: 32px;
}
.dsktp-nav-lst {
    list-style: none;
    width: 550px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.dsktp-nav-lst li {
    margin-left: 5%;
    font-size: 20px;
}
.menu {
    display: none;
    cursor: pointer;
}
.book {
    background: #352F7C;
    padding: 8px 17px;
}
.book a {
    color: white;
    width: 140px;
    font-weight: 600;
}
.layer-two {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 0px;
    overflow: hidden;
    text-align: center;
    transition: 0.8s ease;
}
.mbl-nav-lst {
    margin: 8px 0;
    padding-top: 10px;
    display: none;
    list-style: none;
    flex-direction: column;
    align-items: center;
    transition: 1s ease;
    padding-inline-start: 0px;
}
.mbl-nav-lst li {
    font-size: 19px;
    margin: 7px 0;
}
nav ul li a:hover, .active {
    color: #352F7C;
    font-weight: 700;
}
nav ul .book a:hover, .book .active {
    color: whitesmoke;
}
.hero {
    width: 100%;
    margin: 0;
    padding: 0 10%;
    display: flex;
    align-items: center;
}
.hero div {
    width: 60%;
    margin: 0;
    float: left;
    text-align: center;
}
.hero h3 {
    color: #363636;
    font-size: 3.2vw;
    text-align: center;
    margin-bottom: 10%;
}
.hero span {
    font-size: 25px;
}
.hero img {
    width: 38vw;
    margin: 0;
    align-items: center;
}
.rem {
    padding: 8% 0 4% 0;
    width: 100%;
    font-size: 3vw;
    font-weight: 400;
    text-align: center;
}
.slides {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
}
.slides img {
    width: 27vw;
    height: 270px;
}
.slides img:nth-child(2) {
    width: 36vw;
    height: 300px;
}
@media (max-width: 700px) {
    .logo {
        font-size: 6vw;
    }
    .dsktp-nav-lst {
        display: none;
    }
    .menu {
        display: block;
        width: 36px;
        height:36px;
    }
    .hero {
        justify-content: center;
        padding: 3% 5%;
    }
}
@media (max-width: 800px) and (min-width: 701px) {
    .hero h3 {
        font-size: 4vw;
    }
    .hero {
        padding: 0 6%;
    }
}
@media (max-width: 700px) and (min-width: 501px) {
    .hero h3 {
        font-size: 4.6vw;
    }
    .hero {
        padding: 0 3%;
    }
    .hero span {
        font-size: 20px;
        width: 100px;
    }
    .hero img {
        margin-left: -7%;
    }
}
.why {
    background: #352F7C;
    width: 100%;
    color: white;
    margin: 5% 0;
    padding: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.why > div {
    width: 500px;
    text-align: center;
}
.why > div header {
    font-size: 35px;
}
.why > div > p {
    font-size: 22px;
    font-weight: 300;
    text-align: center;
}
.socials {
    width: 100%;
    color: #5D5C64;
    display: flex;
    justify-content: center;
    align-items: center;
}
.socials > div {
    width: 500px;
    text-align: left;
    font-weight: 400;
    font-size: 25px;
}
.socials > div div:nth-child(2) {
    margin: 3.5% 0;
}
.socials > div .s-icon {
    width: 50px;
    height: 50px;
}
@media (max-width: 500px) {
    .hero div {
        width: 100%;
        margin: 0;
        float: left;
        text-align: center;
    }
    .hero h3 {
        color: #363636;
        font-size: 7.5vw;
        text-align: center;
        margin-bottom: 12%;
    }
    .hero span {
        font-size: 20px;
        width: 100px;
    }
    .hero img {
        display: none;
    }
    .rem {
        margin: 9% 0 0 0;
        padding: 7% 0;
        width: 100%;
        font-size: 5.7vw;
        font-weight: 400;
        text-align: center;
    }
    .slides {
        width: 100%;
        margin: 6% 0 15% 0;
        justify-content: center;
        text-align: center;
    }
    .slides img {
        display: none;
    }
    .slides > img:nth-child(2) {
        display: block;
        width: 300px;
        height: auto;
        position: relative;
    }
    .why {
        background: #352F7C;
        width: 100%;
        color: white;
        margin: 0 0 6% 0;
        padding: 3%;
        display: flex;
        align-items: center;
    }
    .why > div {
        width: 300px;
        text-align: center;
        padding: 1.5% 3% 0 3%;
    }
    .why > div header {
        font-size: 28px;
    }
    .why > div > p {
        font-size: 18px;
        font-weight: 300;
        text-align: center;
    }
    .socials {
        width: 100%;
        color: #5D5C64;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .socials > div {
        width: 300px;
        text-align: left;
        font-weight: 400;
        font-size: 18px;
        padding-left: 10%;
    }
    .socials > div div:nth-child(2) {
        margin: 3.5% 0;
    }
    .socials > div .s-icon {
        width: 37px;
        height: 37px;
        margin-right: 4%;
        cursor: pointer;
    }
}
footer {
    width: 100%;
    margin: 5% 0 0 0;
    padding: 1.5%;
    text-align: center;
    background: #352F7C;
    color: white;
    font-size: 20px;
    font-weight: 400;
}
@media (max-width: 766px) {
    footer {
        position: absolute;
        bottom: 0px;
        width: 100%;
        margin: 8% 0 0 0;
        padding: 3%;
        text-align: center;
        background: #352F7C;
        color: white;
        font-size: 17px;
        font-weight: 600;
    }
}
