<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="../../favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../favicon/favicon-16x16.png">
    <link rel="manifest" href="../../favicon/site.webmanifest">
    <link rel="stylesheet" href="../styles/about.css">
    <link rel="stylesheet" href="../../main.css">
    <title>Evergreen Event - About Us</title>
</head>
<body>
    <nav>
        <div class="layer-one">
            <span class="logo" name="logo">
                EVERGREEN EVENTS
            </span>
            <img src="../../Assets/img/menu.svg" id="menu" class="menu">
            <ul class="dsktp-nav-lst">
                <li><a href="../../index.html">Home</a></li>
                <li><a href="services.html">Services</a></li>
                <li><a href="About.html" class="active">About</a></li>
                <li class="book active"><a href="Booking.html">Book now</a></li>
            </ul>
        </div>
        <div class="layer-two">
            <ul class="mbl-nav-lst">
                <li><a href="../../index.html">Home</a></li>
                <li><a href="services.html">Services</a></li>
                <li><a href="About.html" class="active">About</a></li>
                <li class="book"><a href="Booking.html">Book now</a></li>
            </ul>
        </div>
    </nav>
    <main class="about">
        <header>
            <img src="../../Assets/img/about.png">
            <div>About Us</div>
        </header>
        <div>
            <header>EVERGREEN EVENTS</header>
            <div class="ab-cont">
                <div>
                    <div class="head-o">
                        <span class="title">WHO WE ARE</span>
                        <img src="../../Assets/img/arrow.svg" id="arrow-1">
                    </div>
                    <div class="no-1-cnt">
                        Tempor aliquyam ipsum amet stet kasd no no, sit duo 
                        magna sed lorem duo eirmod labore, at tempor sed stet 
                        duo diam dolor dolor. Sanctus sed aliquyam et dolor 
                        accusam ipsum diam, dolores dolore aliquyam et 
                        gubergren.
                    </div>
                </div>
                <div>
                    <div class="head-to">
                        <span class="title">WHAT WE OFFER</span>
                        <img src="../../Assets/img/arrow.svg" id="arrow-2">
                    </div>
                    <div class="no-2-cnt">
                        Tempor aliquyam ipsum amet stet kasd no no, sit duo 
                        magna sed lorem duo eirmod labore, at tempor sed stet 
                        duo diam dolor dolor. Sanctus sed aliquyam et dolor 
                        accusam ipsum diam, dolores dolore aliquyam et 
                        gubergren.
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <span>@2020ECXINTRNSHIP</span>
        <span>&copy;TEAM 4</span>
    </footer>
    <script src="../../script.js"></script>
    <script src="../js/navbar.js"></script>
</body>
</html>