<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="../../favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../favicon/favicon-16x16.png">
    <link rel="manifest" href="../../favicon/site.webmanifest">
    <link rel="stylesheet" href="../styles/booking.css">
    <link rel="stylesheet" href="../../main.css">
    <title>Evergreen Event - simply the best</title>
</head>
<body>
    <nav>
        <div class="layer-one">
            <span class="logo" name="logo">
                EVERGREEN EVENTS
            </span>
            <img src="../../Assets/img/menu.svg" id="menu" class="menu">
            <ul class="dsktp-nav-lst">
                <li><a href="../../index.html">Home</a></li>
                <li><a href="services.html">Services</a></li>
                <li><a href="About.html">About</a></li>
                <li class="book active"><a href="Booking.html">Book now</a></li>
            </ul>
        </div>
        <div class="layer-two">
            <ul class="mbl-nav-lst">
                <li><a href="../../index.html">Home</a></li>
                <li><a href="services.html">Services</a></li>
                <li><a href="About.html">About</a></li>
                <li class="book"><a href="Booking.html">Book now</a></li>
            </ul>
        </div>
    </nav>
    <main class="m-book">
        <div class="booking">
            <header>
                Tell us about your event
            </header>
            <div class="cont">
                <label for="event-name">Event</label>
                <input type="text" id="event-name">
            </div>
            <div class="flexy">
                <div class="cont">
                    <label for="age-range">Age range</label>
                    <input type="text" id="age-range">
                </div>
                <div class="cont">
                    <label for="no-of-guests">Number of guests</label>
                    <input type="number" id="no-of-guests">
                </div>
            </div>
            <div class="flexy">
                <div class="cont">
                    <label for="budget">Set Budget</label>
                    <input type="text" id="budget">
                </div>
                <div class="cont">
                    <label for="duration">Duration</label>
                    <input type="text" id="duration">
                </div>
            </div>
            <div class="persona">
                <legend>Personalize event</legend>
                <ul class="first-level">
                    <li class="cont">
                        <label for="colour">Colour</label>
                        <input type="text" id="colour">
                    </li>
                    <li>
                        <span>Sitting arrangement</span>
                        <ul class="second-level">
                            <li class="cont">
                                <label for="per-table">Per table</label>
                                <input type="text" id="per-table">
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <hr>
            <button>
                Submit
            </button>
        </div>
    </main>
    <footer>
        <span>@2020ECXINTRNSHIP</span>
        <span>&copy;TEAM 4</span>
    </footer>
    <script src="../../script.js"></script>
</body>
</html>