<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="../../favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../favicon/favicon-16x16.png">
    <link rel="manifest" href="../../favicon/site.webmanifest">
    <link rel="stylesheet" href="../styles/services.css">
    <link rel="stylesheet" href="../../main.css">
    <title>Evergreen Event - About Us</title>
</head>
<body>
    <nav>
        <div class="layer-one">
            <span class="logo" name="logo">
                EVERGREEN EVENTS
            </span>
            <img src="../../Assets/img/menu.svg" id="menu" class="menu">
            <ul class="dsktp-nav-lst">
                <li><a href="../../index.html">Home</a></li>
                <li><a href="services.html">Services</a></li>
                <li><a href="About.html">About</a></li>
                <li class="book active"><a href="Booking.html">Book now</a></li>
            </ul>
        </div>
        <div class="layer-two">
            <ul class="mbl-nav-lst">
                <li><a href="../../index.html">Home</a></li>
                <li><a href="services.html">Services</a></li>
                <li><a href="About.html">About</a></li>
                <li class="book"><a href="Booking.html">Book now</a></li>
            </ul>
        </div>
    </nav>
    <main class="services">
        <header>
            <img src="../../Assets/img/about.png">
            <div>Our Services</div>
        </header>
        <div class="s-cont">
            <div class="s-head">
                <div>
                    <span>Bookings</span>
                    <img src="../../Assets/img/booking.svg">
                </div>
                <div>
                    <span>Location</span>
                    <img src="../../Assets/img/location.svg">
                </div>
            </div>
            <section class="book-sect">
                <div></div>
                <article>
                    <table>
                        <caption>Available locations for booking</caption>
                        <tr>
                            <th>Event center</th>
                            <th>Location</th>
                        </tr>
                        <tr>
                            <td>Eko convention centre</td>
                            <td>Ikeja</td>
                        </tr>
                        <tr>
                            <td>Golden Destiny Int'l Hotels</td>
                            <td>Oshodi</td>
                        </tr> 
                        <tr>
                            <td>Landmark event centre</td>
                            <td>Ikeja</td>
                        </tr>  
                        <tr>
                            <td>Celebration Gardens</td>
                            <td>Ikeja</td>
                        </tr>
                        <tr>
                            <td>Radisson Blu</td>
                            <td>Ikeja</td>
                        </tr>               
                    </table>
                </article>
            </section>
            <section class="loca-sect">
                
            </section>
        </div>
    </main>
    <footer>
        <span>@2020ECXINTRNSHIP</span>
        <span>&copy;TEAM 4</span>
    </footer>
    <script src="../../script.js"></script>
    <script src="../js/navbar.js"></script>
</body>
</html>